## 데이터프레임 합치기

### concat 연습문제

In [1]:
import pandas as pd

In [2]:
df4 = pd.DataFrame({'a': ['a0', 'a1', 'a2', 'a3'],
                   'b': ['b0', 'b1', 'b2', 'b3'],
                   'c': ['c0', 'c1', 'c2', 'c3']},
                   index=[0, 1, 2, 3])

df5 = pd.DataFrame({'a': ['a2', 'a3', 'a4', 'a5'],
                   'b': ['b2', 'b3', 'b4', 'b5'],
                   'c': ['c2', 'c3', 'c4', 'c5'],
                   'd': ['d2', 'd3', 'd4', 'd5']},
                  index=[2, 3, 4, 5])

In [3]:
df4

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [4]:
df5

    a   b   c   d
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5

In [5]:
# row기준으로 합치고 result1에 저장
result1 = pd.concat([df4, df5])
result1

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
2  a2  b2  c2   d2
3  a3  b3  c3   d3
4  a4  b4  c4   d4
5  a5  b5  c5   d5

In [6]:
# 인덱스를 다시 만들기 위해 기존 인덱스 reset
result1.reset_index(inplace=True)

In [7]:
result1

   index   a   b   c    d
0      0  a0  b0  c0  NaN
1      1  a1  b1  c1  NaN
2      2  a2  b2  c2  NaN
3      3  a3  b3  c3  NaN
4      2  a2  b2  c2   d2
5      3  a3  b3  c3   d3
6      4  a4  b4  c4   d4
7      5  a5  b5  c5   d5

In [8]:
# index 컬럼 삭제 (result1 데이터 유지)
result1.drop('index', axis=1)

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

In [9]:
# ignore_index = True를 사용하여 인덱스를 새로 생성한 후,
# df4, df5를 합친 결과를 result2에 저장
result2 = pd.concat([df4, df5], ignore_index=True)
result2

    a   b   c    d
0  a0  b0  c0  NaN
1  a1  b1  c1  NaN
2  a2  b2  c2  NaN
3  a3  b3  c3  NaN
4  a2  b2  c2   d2
5  a3  b3  c3   d3
6  a4  b4  c4   d4
7  a5  b5  c5   d5

In [10]:
# df4, df5를 컬럼 기준으로 합치고 result3에 저장
result3 = pd.concat([df4, df5], axis=1)
result3 # 컬럼명 중복

     a    b    c    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

In [11]:
# df4의 컬럼 rename, {'a':'a2', 'b':'b2', 'c':'c2'}하고 df4에 저장
df4 = df4.rename(columns={'a':'a2', 'b':'b2', 'c':'c2'})
df4

   a2  b2  c2
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3

In [12]:
# df4, df5를 컬럼 기준으로 concat하고 result4에 저장
result4 = pd.concat([df4, df5], axis=1)
result4

    a2   b2   c2    a    b    c    d
0   a0   b0   c0  NaN  NaN  NaN  NaN
1   a1   b1   c1  NaN  NaN  NaN  NaN
2   a2   b2   c2   a2   b2   c2   d2
3   a3   b3   c3   a3   b3   c3   d3
4  NaN  NaN  NaN   a4   b4   c4   d4
5  NaN  NaN  NaN   a5   b5   c5   d5

### 파일 읽어오기

In [13]:
import pandas as pd

In [14]:
file_nm1 = './아이돌브랜드평판지수_202105.csv'
file_nm2 = './아이돌브랜드평판지수_extra.csv'

In [15]:
# 코랩에서 파일 읽어오기
# from google.colab import files
# myFile = files.upload()

In [16]:
# csv파일 읽어오기
# file_nm을 읽어서 df1에 저장, file_nm2를 읽어서 df2에 저장
df1 = pd.read_csv(file_nm1) # 만약 파일이 깨진다면 encoding='cp949' 적용 (mac 사용자)
df2 = pd.read_csv(file_nm2)

In [17]:
df2

       이름 성별    미디어지수
0      지민  남  1921259
1    강다니엘  남  1344409
2     차은우  남  1290870
3       뷔  남  1644586
4      정국  남  1157382
5       진  남  1236163
6      유정  여   803999
7      슈가  남   852799
8   유나(브)  여   795786
9      은지  여   406349
10   지드래곤  남   831512
11    제이홉  남   664126
12     아린  여   698346
13     민영  여   611830
14     제니  여   557618
15    윤두준  남  1040626
16     RM  남   752513
17     지호  여   925885
18  유나(I)  여   918048
19     윈터  여   715811
20    카리나  여   501857
21     태연  여   521813
22     예지  여   855482
23     유리  여   483235
24     JR  남   865303

### DataFrame 합치기(concat)

In [18]:
# df1의 상위 5개만 조회
df1.head()

     이름     그룹   소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0    지민  방탄소년단   빅히트  1995-01-20  174   A  2013  7217872
1  강다니엘    NaN   커넥트  1996-03-01  180   A  2017  6899570
2   차은우   아스트로  판타지오  1997-09-20  183   B  2014  6330046
3     뷔  방탄소년단   빅히트  1995-11-07  179  AB  2013  5197579
4    정국  방탄소년단   빅히트  1997-12-13  178   A  2013  4584186

### Row 기준 합치기

In [19]:
# 원본을 손실하지 않기 위해 df1의 복사본 df1_copy 생성
df1_copy = df1.copy()

In [20]:
df1_copy

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826

row 기준으로 합칠 때는 sort=False 옵션을 주어 순서가 유지되도록 합니다.

In [21]:
# df1, df1_copy concat, sort옵션은 False(인덱스가 뒤죽박죽 되지 않도록)
pd.concat([df1, df1_copy], sort=False)

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826

인덱스가 꼬이지 않게 하는 두가지 방법
- ignore_index =  True 
- reset_index(drop=True) : 
  인덱스초기화 할때 기존 인덱스가 컬럼화 되므로  drop=True 옵션으로 index column 이 생성되지 않도록 한다

In [22]:
# 1)ignore_index=True을 사용하여 df1, df1_copy concat
pd.concat([df1, df1_copy], ignore_index=True)

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826
25     지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
26   강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
27    차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
28      뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
29     정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
30      진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
31     유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
32     슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
33  유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
34     은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
35   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
36    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
37     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
38     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
39     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
40    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
41     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
42     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
43  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
44     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
45    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
46     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
47     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
48     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
49     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826

In [23]:
# 2) concat 후에 reset_index 하는 방법
df_concat = pd.concat([df1,df1_copy],sort=False)
df_concat

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826

In [24]:
# 인덱스를 리셋하고 drop = True 를 사용하여 원래 인덱스 삭제
df_concat.reset_index(drop=True)

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826
25     지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872
26   강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570
27    차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046
28      뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579
29     정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186
30      진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942
31     유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527
32     슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291
33  유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939
34     은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253
35   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306
36    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117
37     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135
38     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549
39     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781
40    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249
41     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631
42     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038
43  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670
44     윈터     에스파      SM  2001-02-02  164   A  2020  1932019
45    카리나     에스파      SM  2000-09-11  167   B  2020  1885968
46     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157
47     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378
48     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114
49     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826

### column 기준으로 합치기
- 컬럼기준으로 합칠때는  axis=1 옵션 사용

In [25]:
# df1, df2 를 컬럼 기준으로 합치기
pd.concat([df1, df2], axis=1)
# 두 데이터의 행의 개수가 같아 null 값 없이 병합됨

,이름,그룹,소속사,생년월일,키,혈액형,데뷔년도,브랜드평판지수,이름,성별,미디어지수
0,지민,방탄소년단,빅히트,1995-01-20,174,A,2013,7217872,지민,남,1921259
1,강다니엘,NaN,커넥트,1996-03-01,180,A,2017,6899570,강다니엘,남,1344409
2,차은우,아스트로,판타지오,1997-09-20,183,B,2014,6330046,차은우,남,1290870
3,뷔,방탄소년단,빅히트,1995-11-07,179,AB,2013,5197579,뷔,남,1644586
4,정국,방탄소년단,빅히트,1997-12-13,178,A,2013,4584186,정국,남,1157382
5,진,방탄소년단,빅히트,1992-02-14,178,O,2013,3271942,진,남,1236163
6,유정,브레이브걸스,브레이브,1991-05-03,162,AB,2016,3179527,유정,여,803999
7,슈가,방탄소년단,빅히트,1993-07-16,174,O,2013,2793291,슈가,남,852799
8,유나(브),브레이브걸스,브레이브,1993-12-17,165,A,2016,2723939,유나(브),여,795786
9,은지,브레이브걸스,브레이브,1992-01-16,168,AB,2016,2681253,은지,여,406349
10,지드래곤,빅뱅,YG,1988-04-21,172,A,2001,2611306,지드래곤,남,831512
11,제이홉,방탄소년단,빅히트,1994-12-10,177,A,2013,2489117,제이홉,남,664126
12,아린,오마이걸,WM,1999-08-19,165,O,2015,2450135,아린,여,698346
13,민영,브레이브걸스,브레이브,1990-09-17,165,AB,2016,2378549,민영,여,611830
14,제니,블랙핑크,YG,1996-03-23,163,B,2016,2310781,제니,여,557618
15,윤두준,하이라이트,어라운드어스,1989-06-25,178,A,2009,2157249,윤두준,남,1040626
16,RM,방탄소년단,빅히트,1994-01-15,181,A,2013,2094631,RM,남,752513
17,지호,오마이걸,WM,1997-10-19,165,A,2015,1958038,지호,여,925885
18,유나(I),ITZY,JYP,2003-04-11,170,A,2019,1936670,유나(I),여,918048
19,윈터,에스파,SM,2001-02-02,164,A,2020,1932019,윈터,여,715811
20,카리나,에스파,SM,2000-09-11,167,B,2020,1885968,카리나,여,501857
21,태연,소녀시대,SM,1989-05-08,160,A,2007,1841157,태연,여,521813
22,예지,ITZY,JYP,2000-11-20,167,A,2019,1789378,예지,여,855482
23,유리,소녀시대,SM,1989-06-05,167,AB,2007,1788114,유리,여,483235
24,JR,뉴이스트,플레디스,1995-11-28,178,O,2012,1749826,JR,남,865303

In [26]:
# 행의 개수가 맞지 않을 경우의 column concat을 확인
# df2에서 4, 11행을 삭제하고 df3에 저장
df3 = df2.drop([4, 11])

In [27]:
df3

       이름 성별    미디어지수
0      지민  남  1921259
1    강다니엘  남  1344409
2     차은우  남  1290870
3       뷔  남  1644586
5       진  남  1236163
6      유정  여   803999
7      슈가  남   852799
8   유나(브)  여   795786
9      은지  여   406349
10   지드래곤  남   831512
12     아린  여   698346
13     민영  여   611830
14     제니  여   557618
15    윤두준  남  1040626
16     RM  남   752513
17     지호  여   925885
18  유나(I)  여   918048
19     윈터  여   715811
20    카리나  여   501857
21     태연  여   521813
22     예지  여   855482
23     유리  여   483235
24     JR  남   865303

In [28]:
# df1, df3 컬럼 기준으로 합친후 데이터가 어떻게 들어가 있는지 확인
pd.concat([df1, df3], axis=1)

# concat의 경우 값이 존재하지 않아도 양쪽의 데이터를 모두 출력 (존재하지 않는 값은 NaN 처리)

,이름,그룹,소속사,생년월일,키,혈액형,데뷔년도,브랜드평판지수,이름,성별,미디어지수
0,지민,방탄소년단,빅히트,1995-01-20,174,A,2013,7217872,지민,남,1921259.0
1,강다니엘,NaN,커넥트,1996-03-01,180,A,2017,6899570,강다니엘,남,1344409.0
2,차은우,아스트로,판타지오,1997-09-20,183,B,2014,6330046,차은우,남,1290870.0
3,뷔,방탄소년단,빅히트,1995-11-07,179,AB,2013,5197579,뷔,남,1644586.0
4,정국,방탄소년단,빅히트,1997-12-13,178,A,2013,4584186,NaN,NaN,NaN
5,진,방탄소년단,빅히트,1992-02-14,178,O,2013,3271942,진,남,1236163.0
6,유정,브레이브걸스,브레이브,1991-05-03,162,AB,2016,3179527,유정,여,803999.0
7,슈가,방탄소년단,빅히트,1993-07-16,174,O,2013,2793291,슈가,남,852799.0
8,유나(브),브레이브걸스,브레이브,1993-12-17,165,A,2016,2723939,유나(브),여,795786.0
9,은지,브레이브걸스,브레이브,1992-01-16,168,AB,2016,2681253,은지,여,406349.0
10,지드래곤,빅뱅,YG,1988-04-21,172,A,2001,2611306,지드래곤,남,831512.0
11,제이홉,방탄소년단,빅히트,1994-12-10,177,A,2013,2489117,NaN,NaN,NaN
12,아린,오마이걸,WM,1999-08-19,165,O,2015,2450135,아린,여,698346.0
13,민영,브레이브걸스,브레이브,1990-09-17,165,AB,2016,2378549,민영,여,611830.0
14,제니,블랙핑크,YG,1996-03-23,163,B,2016,2310781,제니,여,557618.0
15,윤두준,하이라이트,어라운드어스,1989-06-25,178,A,2009,2157249,윤두준,남,1040626.0
16,RM,방탄소년단,빅히트,1994-01-15,181,A,2013,2094631,RM,남,752513.0
17,지호,오마이걸,WM,1997-10-19,165,A,2015,1958038,지호,여,925885.0
18,유나(I),ITZY,JYP,2003-04-11,170,A,2019,1936670,유나(I),여,918048.0
19,윈터,에스파,SM,2001-02-02,164,A,2020,1932019,윈터,여,715811.0
20,카리나,에스파,SM,2000-09-11,167,B,2020,1885968,카리나,여,501857.0
21,태연,소녀시대,SM,1989-05-08,160,A,2007,1841157,태연,여,521813.0
22,예지,ITZY,JYP,2000-11-20,167,A,2019,1789378,예지,여,855482.0
23,유리,소녀시대,SM,1989-06-05,167,AB,2007,1788114,유리,여,483235.0
24,JR,뉴이스트,플레디스,1995-11-28,178,O,2012,1749826,JR,남,865303.0

### Merge

In [29]:
df1.head(3)

     이름     그룹   소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수
0    지민  방탄소년단   빅히트  1995-01-20  174   A  2013  7217872
1  강다니엘    NaN   커넥트  1996-03-01  180   A  2017  6899570
2   차은우   아스트로  판타지오  1997-09-20  183   B  2014  6330046

In [30]:
df2.head(3)

     이름 성별    미디어지수
0    지민  남  1921259
1  강다니엘  남  1344409
2   차은우  남  1290870

df1과 df2는 '이름' 컬럼이 겹치므로 이름을 기준으로 병합 가능

#### left, right 방식

In [31]:
# df2에서 1, 5, 10행을 삭제하고 df2_right에 저장
df2_right = df2.drop([1, 5, 10])

In [32]:
df2_right

       이름 성별    미디어지수
0      지민  남  1921259
2     차은우  남  1290870
3       뷔  남  1644586
4      정국  남  1157382
6      유정  여   803999
7      슈가  남   852799
8   유나(브)  여   795786
9      은지  여   406349
11    제이홉  남   664126
12     아린  여   698346
13     민영  여   611830
14     제니  여   557618
15    윤두준  남  1040626
16     RM  남   752513
17     지호  여   925885
18  유나(I)  여   918048
19     윈터  여   715811
20    카리나  여   501857
21     태연  여   521813
22     예지  여   855482
23     유리  여   483235
24     JR  남   865303

- 열 방향 concat의 경우 인덱스를 기준으로 병합하고 존재하지 않는 값은 NaN 처리하기 때문에,
- 기존의 인덱스가 남아있다면 행을 임의로 삭제하더라도 데이터가 섞이지 않아 merge, concat 방식에 차이가 없음
- 따라서 기존의 인덱스를 삭제하고 인덱스를 재배열하기 위해 reset_indxe(drop=True) 적용

In [33]:
# df2_right에서 인덱스 재배열해서 df2_right에 저장
df2_right = df2_right.reset_index(drop=True) # drop=True: 'index' 열 생성 방지

In [34]:
df2_right

       이름 성별    미디어지수
0      지민  남  1921259
1     차은우  남  1290870
2       뷔  남  1644586
3      정국  남  1157382
4      유정  여   803999
5      슈가  남   852799
6   유나(브)  여   795786
7      은지  여   406349
8     제이홉  남   664126
9      아린  여   698346
10     민영  여   611830
11     제니  여   557618
12    윤두준  남  1040626
13     RM  남   752513
14     지호  여   925885
15  유나(I)  여   918048
16     윈터  여   715811
17    카리나  여   501857
18     태연  여   521813
19     예지  여   855482
20     유리  여   483235
21     JR  남   865303

In [35]:
# 열 방향 concat
pd.concat([df1, df2_right], axis=1)

# df1, df2_right가 공통 열인 '이름' 기준이 아니라 인덱스 기준으로 병합되어 데이터가 섞임

,이름,그룹,소속사,생년월일,키,혈액형,데뷔년도,브랜드평판지수,이름,성별,미디어지수
0,지민,방탄소년단,빅히트,1995-01-20,174,A,2013,7217872,지민,남,1921259.0
1,강다니엘,NaN,커넥트,1996-03-01,180,A,2017,6899570,차은우,남,1290870.0
2,차은우,아스트로,판타지오,1997-09-20,183,B,2014,6330046,뷔,남,1644586.0
3,뷔,방탄소년단,빅히트,1995-11-07,179,AB,2013,5197579,정국,남,1157382.0
4,정국,방탄소년단,빅히트,1997-12-13,178,A,2013,4584186,유정,여,803999.0
5,진,방탄소년단,빅히트,1992-02-14,178,O,2013,3271942,슈가,남,852799.0
6,유정,브레이브걸스,브레이브,1991-05-03,162,AB,2016,3179527,유나(브),여,795786.0
7,슈가,방탄소년단,빅히트,1993-07-16,174,O,2013,2793291,은지,여,406349.0
8,유나(브),브레이브걸스,브레이브,1993-12-17,165,A,2016,2723939,제이홉,남,664126.0
9,은지,브레이브걸스,브레이브,1992-01-16,168,AB,2016,2681253,아린,여,698346.0
10,지드래곤,빅뱅,YG,1988-04-21,172,A,2001,2611306,민영,여,611830.0
11,제이홉,방탄소년단,빅히트,1994-12-10,177,A,2013,2489117,제니,여,557618.0
12,아린,오마이걸,WM,1999-08-19,165,O,2015,2450135,윤두준,남,1040626.0
13,민영,브레이브걸스,브레이브,1990-09-17,165,AB,2016,2378549,RM,남,752513.0
14,제니,블랙핑크,YG,1996-03-23,163,B,2016,2310781,지호,여,925885.0
15,윤두준,하이라이트,어라운드어스,1989-06-25,178,A,2009,2157249,유나(I),여,918048.0
16,RM,방탄소년단,빅히트,1994-01-15,181,A,2013,2094631,윈터,여,715811.0
17,지호,오마이걸,WM,1997-10-19,165,A,2015,1958038,카리나,여,501857.0
18,유나(I),ITZY,JYP,2003-04-11,170,A,2019,1936670,태연,여,521813.0
19,윈터,에스파,SM,2001-02-02,164,A,2020,1932019,예지,여,855482.0
20,카리나,에스파,SM,2000-09-11,167,B,2020,1885968,유리,여,483235.0
21,태연,소녀시대,SM,1989-05-08,160,A,2007,1841157,JR,남,865303.0
22,예지,ITZY,JYP,2000-11-20,167,A,2019,1789378,NaN,NaN,NaN
23,유리,소녀시대,SM,1989-06-05,167,AB,2007,1788114,NaN,NaN,NaN
24,JR,뉴이스트,플레디스,1995-11-28,178,O,2012,1749826,NaN,NaN,NaN

In [36]:
# 이름을 기준으로 merge하는데 방법은 how='left'
pd.merge(df1, df2_right, how='left', on='이름')

# 1, 5, 10행의 성별과 미디어지수는 NaN 처리되고 나머지 데이터가 잘 병합된 것 확인 가능

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수   성별      미디어지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872    남  1921259.0
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570  NaN        NaN
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046    남  1290870.0
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579    남  1644586.0
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186    남  1157382.0
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942  NaN        NaN
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527    여   803999.0
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291    남   852799.0
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939    여   795786.0
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253    여   406349.0
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306  NaN        NaN
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117    남   664126.0
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135    여   698346.0
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549    여   611830.0
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781    여   557618.0
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249    남  1040626.0
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631    남   752513.0
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038    여   925885.0
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670    여   918048.0
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019    여   715811.0
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968    여   501857.0
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157    여   521813.0
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378    여   855482.0
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114    여   483235.0
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826    남   865303.0

In [37]:
# 이름을 기준으로 merge, how='right'
pd.merge(df1, df2_right, how='right', on='이름')

# df2_right에 존재하는 행만 이름을 기준으로 병합

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수 성별    미디어지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872  남  1921259
1     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046  남  1290870
2       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579  남  1644586
3      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186  남  1157382
4      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527  여   803999
5      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291  남   852799
6   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939  여   795786
7      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253  여   406349
8     제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117  남   664126
9      아린    오마이걸      WM  1999-08-19  165   O  2015  2450135  여   698346
10     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549  여   611830
11     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781  여   557618
12    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249  남  1040626
13     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631  남   752513
14     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038  여   925885
15  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670  여   918048
16     윈터     에스파      SM  2001-02-02  164   A  2020  1932019  여   715811
17    카리나     에스파      SM  2000-09-11  167   B  2020  1885968  여   501857
18     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157  여   521813
19     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378  여   855482
20     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114  여   483235
21     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826  남   865303

- 컬럼명은 다르지만 동일한 컬럼일 경우의 merge
  - left_on, right_on 옵션사용

In [38]:
df2_right.head(3)

    이름 성별    미디어지수
0   지민  남  1921259
1  차은우  남  1290870
2    뷔  남  1644586

In [39]:
# df2_right 컬럼명(이름을 name으로)을 수정
df2_right.columns = ['name','성별','미디어지수']

In [40]:
df2_right.head(3)

  name 성별    미디어지수
0   지민  남  1921259
1  차은우  남  1290870
2    뷔  남  1644586

In [41]:
# left_on='이름', right_on='name', how='outer'
df = pd.merge(df1, df2_right, left_on='이름', right_on='name', how='outer')
df

,이름,그룹,소속사,생년월일,키,혈액형,데뷔년도,브랜드평판지수,name,성별,미디어지수
0,지민,방탄소년단,빅히트,1995-01-20,174,A,2013,7217872,지민,남,1921259.0
1,강다니엘,NaN,커넥트,1996-03-01,180,A,2017,6899570,NaN,NaN,NaN
2,차은우,아스트로,판타지오,1997-09-20,183,B,2014,6330046,차은우,남,1290870.0
3,뷔,방탄소년단,빅히트,1995-11-07,179,AB,2013,5197579,뷔,남,1644586.0
4,정국,방탄소년단,빅히트,1997-12-13,178,A,2013,4584186,정국,남,1157382.0
5,진,방탄소년단,빅히트,1992-02-14,178,O,2013,3271942,NaN,NaN,NaN
6,유정,브레이브걸스,브레이브,1991-05-03,162,AB,2016,3179527,유정,여,803999.0
7,슈가,방탄소년단,빅히트,1993-07-16,174,O,2013,2793291,슈가,남,852799.0
8,유나(브),브레이브걸스,브레이브,1993-12-17,165,A,2016,2723939,유나(브),여,795786.0
9,은지,브레이브걸스,브레이브,1992-01-16,168,AB,2016,2681253,은지,여,406349.0
10,지드래곤,빅뱅,YG,1988-04-21,172,A,2001,2611306,NaN,NaN,NaN
11,제이홉,방탄소년단,빅히트,1994-12-10,177,A,2013,2489117,제이홉,남,664126.0
12,아린,오마이걸,WM,1999-08-19,165,O,2015,2450135,아린,여,698346.0
13,민영,브레이브걸스,브레이브,1990-09-17,165,AB,2016,2378549,민영,여,611830.0
14,제니,블랙핑크,YG,1996-03-23,163,B,2016,2310781,제니,여,557618.0
15,윤두준,하이라이트,어라운드어스,1989-06-25,178,A,2009,2157249,윤두준,남,1040626.0
16,RM,방탄소년단,빅히트,1994-01-15,181,A,2013,2094631,RM,남,752513.0
17,지호,오마이걸,WM,1997-10-19,165,A,2015,1958038,지호,여,925885.0
18,유나(I),ITZY,JYP,2003-04-11,170,A,2019,1936670,유나(I),여,918048.0
19,윈터,에스파,SM,2001-02-02,164,A,2020,1932019,윈터,여,715811.0
20,카리나,에스파,SM,2000-09-11,167,B,2020,1885968,카리나,여,501857.0
21,태연,소녀시대,SM,1989-05-08,160,A,2007,1841157,태연,여,521813.0
22,예지,ITZY,JYP,2000-11-20,167,A,2019,1789378,예지,여,855482.0
23,유리,소녀시대,SM,1989-06-05,167,AB,2007,1788114,유리,여,483235.0
24,JR,뉴이스트,플레디스,1995-11-28,178,O,2012,1749826,JR,남,865303.0

In [42]:
df.drop('name', axis=1)

       이름      그룹     소속사        생년월일    키 혈액형  데뷔년도  브랜드평판지수   성별      미디어지수
0      지민   방탄소년단     빅히트  1995-01-20  174   A  2013  7217872    남  1921259.0
1    강다니엘     NaN     커넥트  1996-03-01  180   A  2017  6899570  NaN        NaN
2     차은우    아스트로    판타지오  1997-09-20  183   B  2014  6330046    남  1290870.0
3       뷔   방탄소년단     빅히트  1995-11-07  179  AB  2013  5197579    남  1644586.0
4      정국   방탄소년단     빅히트  1997-12-13  178   A  2013  4584186    남  1157382.0
5       진   방탄소년단     빅히트  1992-02-14  178   O  2013  3271942  NaN        NaN
6      유정  브레이브걸스    브레이브  1991-05-03  162  AB  2016  3179527    여   803999.0
7      슈가   방탄소년단     빅히트  1993-07-16  174   O  2013  2793291    남   852799.0
8   유나(브)  브레이브걸스    브레이브  1993-12-17  165   A  2016  2723939    여   795786.0
9      은지  브레이브걸스    브레이브  1992-01-16  168  AB  2016  2681253    여   406349.0
10   지드래곤      빅뱅      YG  1988-04-21  172   A  2001  2611306  NaN        NaN
11    제이홉   방탄소년단     빅히트  1994-12-10  177   A  2013  2489117    남   664126.0
12     아린    오마이걸      WM  1999-08-19  165   O  2015  2450135    여   698346.0
13     민영  브레이브걸스    브레이브  1990-09-17  165  AB  2016  2378549    여   611830.0
14     제니    블랙핑크      YG  1996-03-23  163   B  2016  2310781    여   557618.0
15    윤두준   하이라이트  어라운드어스  1989-06-25  178   A  2009  2157249    남  1040626.0
16     RM   방탄소년단     빅히트  1994-01-15  181   A  2013  2094631    남   752513.0
17     지호    오마이걸      WM  1997-10-19  165   A  2015  1958038    여   925885.0
18  유나(I)    ITZY     JYP  2003-04-11  170   A  2019  1936670    여   918048.0
19     윈터     에스파      SM  2001-02-02  164   A  2020  1932019    여   715811.0
20    카리나     에스파      SM  2000-09-11  167   B  2020  1885968    여   501857.0
21     태연    소녀시대      SM  1989-05-08  160   A  2007  1841157    여   521813.0
22     예지    ITZY     JYP  2000-11-20  167   A  2019  1789378    여   855482.0
23     유리    소녀시대      SM  1989-06-05  167  AB  2007  1788114    여   483235.0
24     JR    뉴이스트    플레디스  1995-11-28  178   O  2012  1749826    남   865303.0